/*----- Reset -----*//*
#region*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
/*#endregion*/
/*----- Body -----*//*
#region*/
   body {
       /* Variables */
       
       /* Alignment */
       display: flex;

       justify-content: center;
       align-items: center;

       flex-direction: column;

       /* Box */
       width: 100vw;
       height: 100vh;
       
   } 
/*#endregion*/

/*----- Table -----*//*
#region*/
    table {
        border-spacing: 0;
    }
    /* Table header */
    thead {
        background-color: rgb(0, 0, 0);
    }
    th {
        color: white;
        padding: 2vmin;
        text-align: center;
    }

    /* Table row */
    tr:nth-child(even) {
        background-color: rgb(240, 240, 240);
    }

    /* Table Data */
    td:first-child {
        width: 96px;
        height: 80px;
        
        align-content: center;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .description {
        font-size: 0.6em;
        width: 250px;
    }
    .padding {
        padding: 0 25px;
    }
    .delete-image {
        width: 1em;
    }

    /* Button */
    td:last-child:hover {
        background-color: rgb(235, 255, 235);
    }
    td:last-child:active {
        background-color: rgb(220, 255, 220);
    }
    .remove-button {
        padding: 0;
        width: 1em;
    }


/*#endregion*/
/*----- Add Item -----*//*
#region*/
    #add-item {
        user-select: none;
        margin-top: 10px;
        padding: 4vmin;
        text-align: center;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        background-color: rgb(255, 255, 255);
    }
    #add-item:hover {
        background-color: rgb(235, 255, 235);
    }
    #add-item:active {
        background-color: rgb(220, 255, 220);
    }
/*#endregion*/